<%- include('partials/header.hbs') %>

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Question Bank Management</h1>
    <p class="lead">Manage your Quizzes and Questions easily.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg m-2" href="/quizzes" role="button">Manage Quizzes</a>
    <a class="btn btn-secondary btn-lg m-2" href="/questions" role="button">Manage Questions</a>
</div>

<%- include('partials/footer.hbs') %>
